.centered-and-cropped { 
    object-fit: cover;
    width: 20rem;
    height: 20rem;
}

.centered-and-cropped--height { 
    object-fit: cover;
    width: 100%;
    height: 30rem;
}

.centered-and-cropped--small { 
    height: 10rem;
}

.no-text-decoration {
    text-decoration: none !important;
    color: black !important;
}

#createarticle-form
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#createarticle-top
{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 2%;
    padding-bottom: 2%;
}
#createarticle-center
{
    width: 100%;
}

#bouton
{
    margin:1%;
    
}

.vh75{
    height: 75vh;
}
